html {
    font-family: "Open Sans";
    padding-left: 5%;
    padding-right: 5%;
    background-color: #000000e4 ;
    color: white;
}

p {
    /* text-align: justify; */
    /* padding-left: 10%;
    padding-right: 10%; */
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 30px;
    /* text-align: center; */
}

h3 {
    padding-left: 2%;
}

h4 {

}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    /* display: block; */
  }

a:link {
color: #d49109;
}

a:visited {
color: #d49109;
}

a:focus {
border-bottom: 1px solid;
}

a:hover {
border-bottom: 1px solid;
}

a:active {
background: #265301;
color: #d49109;
}

.banner {
    /* width: 500px;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    position: relative; */
    margin-left: auto;
    margin-right: auto;
    /* background-color: grey; */
    /* padding: 15px; */
    padding-top: 15px;
    padding-bottom: 15px;
    /* width: 400px; */
    display: inline-block;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding-left: 6px;
    padding-right: 6px;
}


.logo_name {
    background-color: #4f4f4f;
    color: #d49109; 
}

.container {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Small separation between columns */
    padding: 10px;
    padding-left: 10px; /* 10px margin to the left */
    justify-content: flex-start; /* Align the container to the left */
    width: 100%; /* Ensure the container takes up the full width */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.column {
    /* width: 5%; */
    padding: 10px;
    padding-left: min(30px, 5%);
    padding-right: min(30px, 5%);
    box-sizing: border-box;
    text-align: center; /* Center the text inside the columns */
    border-radius: 20px; /* Soft edges */
    /* box-shadow: 0 6px 6px #4f4f4f;  */
    position: relative; /* Ensure the columns are positioned relative */
    z-index: 1; /* Ensure the columns appear above other elements */
    /* background-color: white;  */
    background-color: #1f1f1f;
}



.news_container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Small separation between rows */
    padding: 10px;
    padding-left: 10px; /* 10px margin to the left */
    justify-content: flex-start; /* Align the container to the left */
    width: 100%; /* Ensure the container takes up the full width */
    box-sizing: border-box; /* Include padding in the width calculation */
}
